{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}
        Change Password
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <br/>
  {{ utils.flashed_messages() }}
  <br/>
      <div class="inner">
        <div class="center">
          <center>
          <div class="form" style="width: 400px; text-align: left">
                <h1>Change Password</h1><hr class="line-blue">
            <br/>
            {{ wtf.quick_form(form) }}
            </div>
            </center>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
